/* IE6 css fixer v0.7: Sat, 06 Mar 2010 02:11:49 +0100 */
/* ============================================= */
/* safe settings                                 */

/* add display:inline to floated elements*/
.left,
.right,
.block,
.logo,
#header,
#header p#home-intro,
#header ul#western-union,
#menu,
#menu li,
#menu li a,
#searchform,
#search,
#content,
.entry,
.post,
h1#page-title,
#content .box.locations ul li,
#content .store,
#content .store a.button,
#sidebar,
#blog-sidebar,
#blog-sidebar .heading,
#blog-sidebar h2.categories,
#blog-sidebar .shadow,
#blog-sidebar .follow,
.date-box,
.post-header-wrapper,
.post-header,
.readmore,
.wpcf7-form label,
.wpcf7-form input.button,
#footer,
img.footer-lady,
img.footer-creds {display:inline;}

/* convert min height values*/
.post-header {height:80px;}


/* fix negative margins*/
#content.home,
#content .box-big,
#sidebar.home,
#blog-sidebar .zero,
img.footer-lady,
img.footer-creds {position:relative; zoom:1;}

/* add zoom:1 to pos:relative elements*/
#menu li,
#content .box,
#content .box-big,
#blog-sidebar,
#blog-sidebar .heading,
#footer-menu ul li {zoom:1;}

/*Nathan Parikh*/
body {
}
*html .container {

}
*html #header.home {

}
	#header.home .container {

	}
#sidebar {
	width: 150px;
}
.icon {display: none; }

img.footer-lady, img.footer-creds {
		
	}
#header {

	}
	
#content {
	position: relative;
	z-index: 0;
	margin: 0px;
}
*html a.button {
	position: relative;
	z-index: 2000;

}

*html #footer {
	height: 50px;
}

#content.blog .post {
	width: 600px;
}