/*	TableCloth	
	by Alen Grakalic, brought to you by cssglobe.com
*/
/* general styles */
table, td{
	font:100% Arial, Helvetica, sans-serif; 
}
table{width:100%;border-collapse:collapse;margin:0px;}
th, td{text-align:left;padding:0px;border:none;}
th{background:none;color:#5c7d2c;}
td{}
/* tablecloth styles */
tr.even td{background:#e1e1e1;}
tr.odd td{background:#f7f7f7;}

/*th.over, tr.even th.over, tr.odd th.over{background:#4a98af;}
th.down, tr.even th.down, tr.odd th.down{background:#bce774;}
th.selected, tr.even th.selected, tr.odd th.selected{}

td.over, tr.even td.over, tr.odd td.over{background:#ecfbd4;}
td.down, tr.even td.down, tr.odd td.down{background:#bce774;color:#fff;}
td.selected, tr.even td.selected, tr.odd td.selected{background:#bce774;color:#555;}*/
/* use this if you want to apply different styleing to empty table cells*/
td.empty, tr.odd td.empty, tr.even td.empty{background:#fff;}