/*  
Theme Name: Dollar Smart
Author URI: http://www.skyboxcreative.com
Version: 1.0
Author: Skybox Creative
Description: Theme developed for Dollar Smart. Designed by <a href="http://www.skyboxcreative.com">Skybox Creative</a>.
*/
body
{
	font-family: Arial, Helvetica, Verdana, Georgia, Times, serif;
	font-size: 13px;
	color: #5e5e5e;
	background: #fff url(images/bg_normal.jpg) repeat-x top;
	line-height: 150%;
	margin: 0px;
}
	body.home {
		background: #fff url(images/bg3.jpg) repeat-x top;
	}
/*Link Syling*/
a
{
	text-decoration: none;
	color: #595959;
	outline: none;
}
	a:hover { text-decoration: underline; }
	a img { border: none; }
	
	a#top {
		font-size: 0px;
		line-height: 0px;
		text-indent: -9999px;
		background: url(images/heading_top.png) top left no-repeat;
		width: 105px;
		height: 17px;
		display: block;
	}
	
/*Alignment Classes*/
.left { float: left; }
.center { display: block; margin: 0px auto; }
.centertxt { text-align: center; }
.right { float: right; }
.clear { clear: both; }
.text-left { text-align: left; display: block; }
.text-right { text-align: right; display: block; }
.block
{
	width: 38px;
	height: 14px;
	display: block;
	float: left;
	margin: 5px 10px 0 10px;
}

.container
{
	width: 960px;
	margin: 0 auto;
	padding: 0;
}
.logo
{
	margin: 25px 0 0 8px;
	width: 375px;
	height: 105px;
	float: left;
}

/*Header*/
#header
{
	height: 184px;
	width: 100%;
	color: #fff;
	background: url(images/bg_header.jpg) top center no-repeat;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	float: left;
	position: relative;
	z-index: 0;
}
	#header h1
	{
		font-size: 36px;
		font-weight: normal;
		margin: 0px 0px 20px 0px;
	}
	#header h2
	{
		margin: 0px 0px 10px 0px;
		font-weight: normal;
		font-size: 16px;
		color: #7b7070;
	}
	#header.home {
		height: 444px;
		background: url(images/bg_header_home3.jpg) no-repeat top center;
	}
	
	#header p#home-intro {
		float: left;
		clear: both;
		color: #1c3000;
		font-weight: bold;
		font-size: 12px;
		line-height: 17px;
		width: 460px;
		height: 60px;
		background: url(images/heading_need-trans.png) top left no-repeat;
		margin: 50px 0 0 28px;
		padding: 33px 0 0 9px;
	}
	
	#header ul#western-union {
		float: left;
		clear: both;
		font-size: 9px;
		font-weight: bold;
		line-height: 12px;
		color: #000;
		width: 80px;
		height: 60px;
		margin: 0 0 0 401px;
		padding: 0px;
		top: 274px;
	}
		#header ul#western-union li {
			margin: 0px;
			padding: 0px;
		}

/*Top Menu*/
#menu
{
	font-size: 14px;
	font-weight: bold;
	padding: 0px 0 0;
	margin: 17px 0 0 106px;
	float: left;
	height: 30px;
	width: 470px;
}
	#menu a
	{
		color: #fff;
		text-transform: uppercase;
	}
		#menu li
		{
			list-style-type: none;
			position: relative;
			display: inline;
			padding: 0px;
			margin: 0px 19px 0px 0px;
			cursor: pointer;
			float: left;
		}
			#menu li a
			{
				padding: 0px;
				margin: 0px;
				float: left;
			}
/*2px solid border bottom to restore nav menu */
			#menu li:hover
			{
				color: #fff;
				text-decoration: none;
				border-bottom: 0px solid #f8b62b;
			}
				#menu li:hover a
				{
					color: #fff;
					text-decoration: none;
				}
			#menu li.current_page_item, #menu li.current_page_parent
			{
				color: #fff;
				text-decoration: none;
				border-bottom: 0px solid #f8b62b;
			}

/*Search Form*/
#searchform {
	margin: 48px 20px 0 0;
	padding: 0px;
	float: right;
	font-size: 11px;
	width: 162px;
	height: 24px;
}
	#searchform #s
	{
		width: 133px;
		height: 13px;
		background: url(images/bg_search-trans.png) top left no-repeat;
		margin: 0px;
		padding: 5px 25px 5px 25px;
		border: none;
		color: #474747;
		font-size: 11px;
		line-height: 12px;
	}
#search
{
	float: right;
	margin: 20px 0px 0px 0px;
}
#searchsubmit
{
	background: #5f5f5f;
	color: #fff;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	border: none;
	padding: 1px 15px 2px 15px;
}
/*Content*/
#content
{
	width: 768px;
	background: none;
	padding: 0px 0px 0px 0px;
	float: left;
	position: relative;
	z-index: 50;
}
	#content.blog {
		width: 960px;
	}
	#content.home {
		width: 735px;
		margin: -18px 0 0 9px;
	}
	#content h1, #content h1 a
	{
		color: #6d992f;
		font-size: 18px;
		margin: 0px 0px 5px 0px;
	}
	
	#content #page-image {
		background: url(images/bg_holder.jpg) top left no-repeat;
		width: 760px;
		height: 227px;
		padding: 17px 0 0 17px;
		margin: 0px 0px 21px 0px;
	}

.entry {
	margin: 0px 0px 15px 0px;
	width: 435px;
	float: left;
	}
	#content.blog .entry {
		width: 610px;
	}
.post
{
	width: 100%;
	float: left;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}
	#content.blog .post {
		width: 630px;
		padding: 20px 0px 0px 20px;
	}

/*Headings*/
h1#page-title {
	float: left;
	margin: 21px 0 20px 18px;
	padding: 0px;
	width: 100%;
	height: 30px;
	color: #6d992f;
	font-size: 26px;
	font-style: italic;
	text-shadow: 1px 1px 1px #dedede;
}
	h1#page-title.img {font-size: 0px; line-height: 0px; text-indent: -9999px; }
	h1#page-title.services { background: url(images/heading_services.png) no-repeat; }
	h1#page-title.about { background: url(http://www.dollarsmart.org/wp-content/themes/DollarSmart/images/heading_about.png) no-repeat; }
	h1#page-title.locations { background: url(images/heading_locations.png) no-repeat; }
	h1#page-title.news { background: url(images/heading_news.png) no-repeat; }
	h1#page-title.contact { background: url(images/heading_contact.png) no-repeat; }

#content h2 {
	color: #d30000;
	font-size: 17px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

#content h2 span {
	color: #5e5e5e;
}

#content .asterix {
	width: 300px;
	font-size: 11px;
}

/*Box Styling*/
#content .box {
	background: url(images/bg_box-trans.png) no-repeat center bottom;
	margin: 0px 0px 70px 0px;
	padding: 0px 20px 0px 20px;
	font-size: 11px;
	width: 263px;
	height: 160px;
	position: relative;
}
	#content .box h2, #content .box-big h2 {
		font-size: 21px;
		margin: 0px 0px 12px 0px;
		padding: 0px 0px 0px 3px;
		text-transform: uppercase;
	}
	#content .box p {
		line-height: 15px;
	}
	#content .box a.button {
		background: url(images/bg_button.png) no-repeat top left;
		width: 90px;
		height: 24px;
		margin: 12px auto 0px auto;
		padding: 7px 0px 0px 0px;
		text-align: center;
		display: block;
		font-size: 12px;
		font-weight: bold;
		color: #000;
		text-shadow: -1px 0px 1px #656565;
		cursor: pointer;
	}
		#content .box.top {
			margin: 0px 0px 42px 0px;
			background-position: 0px -12px;
		}
		#content .box.services {
			margin: 30px 0px 0px 0px;
		}
		#content .box.locations {
			margin: 24px 0px 0px 0px;
			font-size: 11px;
		}
			#content .box.locations h2 {
				margin: 10px 0 8px 0;
			}
			#content .box.locations a.button {
				background: url(images/bg_button_long.png) no-repeat top left;
				width: 106px;
				height: 26px;
				margin: 12px auto 0px auto;
				padding: 5px 0px 0px 0px;
				text-align: center;
				display: block;
				font-size: 12px;
				font-weight: bold;
				color: #000;
				text-shadow: 0px 0px 0px #656565;
				cursor: pointer;
				text-transform: none;
			}
			#content .box.locations ul {
				margin: 0 0 0 17px;
				padding: 0px;
				width: 250px;
				height: 65px;
				line-height: 15px;
			}
				#content .box.locations ul li {
					margin: 0px;
					padding: 0px;
					float: left;
					width: 50%;
				}
#content .box-big {
	background: url(images/bg_box_big-trans.png) no-repeat 0px 2px;
	margin: 0px -12px 0px 0px;
	padding: 0px;
	font-size: 11px;
	width: 432px;
	height: 359px;
	position: relative;
}

#content .box.gold {
	height: 110px;
}

#content .box.giftcard {
	height: 110px;
}
#content .box.giftcard h2 {
	font-size: 19px;
}
#content .store {
	font-size: 14px;
	line-height: 150%;
	text-transform: uppercase;
	float: left;
	clear: both;
	width: 100%;
	margin: 0 0 25px;
}
	#content .store h2 {
		font-size: 17px;
		text-transform: uppercase;
		font-weight: bold;
		font-style: italic;
		padding: 15px 0px 0px 0px;
	}
	#content .store span.image {
		width: 334px;
		height: 228px;
		background: url(images/bg_holder_sm.jpg) top left no-repeat;
		padding: 17px 0 0 17px;
		margin: 0px 20px 0px 0px;
	}
	#content .store a.button {
		background: url(images/bg_button_long.png) no-repeat top left;
		width: 106px;
		height: 26px;
		margin: 12px auto 0px auto;
		padding: 5px 0px 0px 0px;
		text-align: center;
		display: block;
		font-size: 12px;
		font-weight: bold;
		color: #000;
		text-shadow: 0px 0px 0px #656565;
		cursor: pointer;
		float: left;
		text-transform: none;
	}

	
/*Icons*/
.icon {
	text-indent: -9999px;
	font-size: 0px;
	line-height: 0px;
	background: url(images/icons-trans2.png) no-repeat;
	width: 78px;
	display: block;
}
	.icon.clipboard {
		height: 62px;
		background-position: 0px -140px;
	}
		.icon.clipboard.home {
			position: absolute;
			clear: both;
			top: -32px;
			right: 24px;
		}
		.icon.clipboard.blog {
			position: absolute;
			clear: both;
			top: -35px;
			right: -15px;
			height: 62px;
		}
	.icon.laptop {
		height: 62px;
		background-position: 0px 0px;
	}
		.icon.laptop.home {
			position: absolute;
			clear: both;
			top: -29px;
			left: 158px;
		}
	.icon.money {
		height: 62px;
		background-position: 0px -69px;
	}
		.icon.money.home {
			position: absolute;
			clear: both;
			top: -29px;
			right: 22px;
		}
		.icon.money.blog {
			position: absolute;
			clear: both;
			top: -23px;
			right: 32px;
			height: 61px;
		}
	.icon.new {
		height: 52px;
		background-position: 0px -270px;
	}
		.icon.new.blog {
			position: absolute;
			clear: both;
			top: -24px;
			left: 52px;
		}
	.icon.storefront {
		height: 52px;
		background-position: 0px -211px;
		position: absolute;
		clear: both;
		top: -18px;
		right: 26px;
	}
	.icon.coin {
		height: 49px;
		width: 50px;
		background-position: -14px -340px;
		position: absolute;
		clear: both;
		top: -26px;
		right: 31px;
	}
	.icon.giftcard {
		height: 49px;
		width: 53px;
		background-position: -12px -407px;
		position: absolute;
		clear: both;
		top: -26px;
		right: 8px;
	}

/*Sidebar*/
#sidebar
{
	float: left;
	position: relative;
	z-index: 50;
	width: 160px;
	margin: 6px 0 0 18px;
	padding: 0px 0px 0px 12px;
	border-left: 2px dotted #777;
	font-size: 12px;
	color: #5c7d2c;
}
	#sidebar.home {
		margin: -83px 0 0 19px;
	}
	#sidebar h4 {
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		color: #d30000;
		margin: 0px;
		padding: 6px 0px 0px 0px;
	}
	#sidebar a { color: #5c7d2c; }
	#sidebar ul
	{
		margin: 0px 0px 16px 0px;
		padding: 0px;
	}
		#sidebar ul li, #sidebar li { list-style-type: none; }
		
/*Blog Styling*/
#blog-sidebar {
	width: 240px;
	padding: 0px 25px 0px 25px;
	float: right;
	background: url(images/bg_sidebar.jpg) no-repeat top left;
	position: relative;
}
	#blog-sidebar .zero {
		margin: 0px 0px 0px -25px;
	}
	#blog-sidebar .heading {
		position: relative;
		width: 235px;
		float: left;
	}
	#blog-sidebar h2 {
		color: #6d992f;
		font-size: 26px;
		font-style: italic;
		text-shadow: 1px 1px 1px #d3d3d3;
		font-weight: normal;
		margin: 0px;
		padding: 0px;
	}
		#blog-sidebar h2.categories, #blog-sidebar h2.recent, #blog-sidebar h2.tags {
			text-indent: -9999px;
			font-size: 0px;
			line-height: 0px;
		}
		#blog-sidebar h2.categories {
			background: url(images/heading_categories-trans.png) top left no-repeat;
			width: 130px;
			height: 31px;
			float: left;
			margin: 12px 0 0 6px;
		}
		#blog-sidebar h2.recent {
			background: url(images/heading_recent-trans.png) top left no-repeat;
			width: 180px;
			height: 31px;
			margin: 0 0 0 4px;
		}
		#blog-sidebar h2.tags {
			background: url(images/heading_tags-trans.png) top left no-repeat;
			width: 60px;
			height: 31px;
			margin: 0 0 0 5px;
		}
	#blog-sidebar .shadow {
		width: 238px;
		height: 12px;
		background: url(images/bg_shadow.png) top left no-repeat;
		float: left;
	}
	#blog-sidebar ul {
		margin: 0 0 20px 9px;
		padding: 0px;
		clear: both;
		width: 215px;
	}
		#blog-sidebar ul li {
			list-style-type: none;
			border-bottom: 1px dashed #bebebe;
			font-size: 14px;
			padding: 7px 0 7px 10px;
		}
			#blog-sidebar ul li a:hover {
				color: #6d992f;
				text-decoration: none;
			}
	#blog-sidebar .follow {
		float: left;
		width: 222px;
		height: 83px;
		background: url(images/bg_follow-trans.png) no-repeat;
		margin: 10px 0 0 8px;
		padding: 86px 0 0;
	}
		#blog-sidebar .follow .facebook {
			background: url(images/bg_social.png) no-repeat;
			background-position: 0px 0px;
			width: 100px;
			height: 25px;
			display: block;
			margin: 0px auto;
			font-size: 0px;
			line-height: 0px;
			text-indent: -9999px;
		}
		#blog-sidebar .follow .twitter {
			background: url(images/bg_social.png) no-repeat;
			background-position: 0px -25px;
			width: 100px;
			height: 30px;
			display: block;
			margin: 0px auto;
			font-size: 0px;
			line-height: 0px;
			text-indent: -9999px;
		}

.date-box
{
	width: 142px;
	height: 52px;
	float: left;
	color: #636363;
	text-align: center;
	margin: 4px 13px 0 3px;
	padding: 34px 6px 0 0;
	background: url(images/bg_news_date.jpg) top left no-repeat;
	border-right: 1px dashed #7f7f7f;
}
	.month
	{
		text-transform: uppercase;
		font-size: 24px;
		margin: 0 0 1px 40px;
		width: 102px;
		display: block;
		color: #d30000;
		font-weight: bold;
		text-shadow: 1px 1px 1px #c8c8c8;
	}
	.year
	{
		font-size: 16px;
		color: #6d992f;
		width: 102px;
		margin: 0 0 0px 40px;
	}
.post-header-wrapper {
	border-top: 1px dashed #7f7f7f;
	border-bottom: 1px dashed #7f7f7f;
	float: left;
	width: 630px;
}
.post-header {
	width: 400px;
	min-height: 80px;
	padding: 20px 0px 0px 0px;
	float: left;
}
	#content .post-header h1 a {
		color: #d30000;
		font-weight: bold;
		font-style: italic;
		font-size: 21px;
		line-height: 22px;
		text-transform: uppercase;
	}
	
.metadata, .comment, .email, .readmore, .tags
{
	margin: 0px 4px 0px 0px;
	font-weight: bold;
	color: #6d6e71;
}
.comment
{
	padding: 0px 0px 0px 18px;
	background: url(http://www.dollarsmart.org/wp-content/themes/DollarSmart/images/comment.png) left no-repeat;
}
.email
{
	padding: 0px 0px 0px 18px;
	background: url(http://www.dollarsmart.org/wp-content/themes/DollarSmart/images/email.png) left no-repeat;
}
.readmore
{
	float: left;
	clear: both;
	width: 100px;
	display: block;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 15px 0px;
}

/*Form Styling*/
.wpcf7-form {
	width: 376px;
}
	#content .wpcf7-form h2 {
		text-transform: uppercase;
		font-style: italic;
		margin: 0 0 27px;
	}
	.wpcf7-form label {
		width: 102px;
		float: left;
	}
	.wpcf7-form p {
		font-size: 14px;
		color: #3e3e3e;
		font-weight: bold;
		margin: 0 0 26px;
	}
	.wpcf7-form textarea {
		width: 267px;
	}
	.wpcf7-form input {
		width: 267px;
		height: 23px;
	}

		.wpcf7-form input.button {
				background: url(images/bg_button_long.png) no-repeat top left;
				width: 106px;
				height: 31px;
				margin: 0px;
				padding: 0px 0px 0px 0px;
				text-align: center;
				display: block;
				font-size: 12px;
				font-weight: bold;
				color: #000;
				text-shadow: 0px 0px 0px #656565;
				cursor: pointer;
				float: right;
				text-transform: none;
				border: none;
			}

/*Comments*/

.commentlist li
{
	padding: 10px 10px 5px 10px;
	border: 1px solid #8A8A8A;
	margin: 0px 0px 10px 0px;
}
.alt { background: #efefef; }

/*Footer*/
#footer
{
	background: #d39723 url(images/bg_footer2.jpg) repeat-x;
	color: #80590e;
	padding: 15px 0 15px 0px;
	margin: 0px 0px 0px 0px;
	width: 100%;
	height: 110px;
	font-size: 12px;
	text-align:center;
	clear: both;
	float: left; 
	position: relative;
	margin: 40px 0px 0px 0px;
}
	#footer.home { margin: 175px 0px 0px 0px; }
	#footer .container {
		background: url(images/bg_footer_center2.jpg) -86px 5px no-repeat;
		height: 125px;
	}
	#footer a { color: #80590e; }
		#footer a:hover
		{
			text-decoration: none;
		}
	img.footer-lady {
		float: left;
		margin: -283px 0px 0px 0px;
	}
 img.footer-creds {
		float: right;
		margin: -80px 0px 0px 0px;
	} 
#footer-menu ul
{
	margin: 0px;
	padding: 0px;
}
	#footer-menu ul li
	{
		position: relative;
		list-style-type: decimal;
		display: inline;
		padding: 0 10px 0 0;
		margin: 0px;
	}
		#footer-menu ul li a
		{
			padding: 0px 0px 0px 0px;
			margin: 0px;
		}
		#footer-menu ul li.current_page_item a
		{
			color: #4d4d4f;
			text-decoration: none;
		}